.contact-form .order{
    border-bottom: green solid 2px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #09812d;
  }
  .contact-form .button-order{
    background-color: rgb(8, 93, 26);
   
    width: 100%;
    padding: .7em;
    border: none;
    
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #cf2fd4;
    border: none;
  }
  
  